<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.dao.EmployeeMapper">
	<select id="selectEmployeeAll" parameterType="fenye" resultType="employee">
		select e_id,e_loginName,e_passWord,e_isLockOut,e_lastLoginTime,e_createTime,e_pwdWrongTime,e_lockTime,e_protectEmail,e_protectMTel,e_fingerprintNum,e_liveAddress,e_sex,e_age,e_photo,e_isMarry,e_fromAddress,e_eduStatus,e_weiXin,e_inCompanyTime from employee 
		<where>
			<if test="employee.e_loginName != null and employee.e_loginName != ''">
				and e_loginName like "%"#{employee.e_loginName}"%"
			</if>
			<if test="employee.e_createTime != null and employee.e_createTime != ''">
				and e_createTime=#{employee.e_createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="in_e_createTime != null and in_e_createTime != '' and en_e_createTime != null and en_e_createTime != ''">
				and e_createTime &gt;=#{en_e_createTime,jdbcType=TIMESTAMP}
				and e_createTime &lt;=#{in_e_createTime,jdbcType=TIMESTAMP} 
			</if>
			<if test="employee.e_isLockOut != null and employee.e_isLockOut != ''">
				and e_isLockOut=#{employee.e_isLockOut}
			</if>
			 
		</where>
		limit #{page},#{pageSize}
	</select>
	<select id="selectEmployeeCount" parameterType="fenye" resultType="int">
		select count(e_id) from employee 
		<where>
			<if test="employee.e_loginName != null and employee.e_loginName != ''">
				and e_loginName like "%"#{employee.e_loginName}"%"
			</if>
			<if test="employee.e_createTime != null and employee.e_createTime != ''">
				and e_createTime=#{employee.e_createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="in_e_createTime != null and in_e_createTime != '' and en_e_createTime != null and en_e_createTime != ''">
				and e_createTime &gt;=#{en_e_createTime,jdbcType=TIMESTAMP}
				and e_createTime &lt;=#{in_e_createTime,jdbcType=TIMESTAMP} 
			</if>
			<if test="employee.e_isLockOut != null and employee.e_isLockOut != ''">
				and e_isLockOut=#{employee.e_isLockOut}
			</if>
			
		</where>
	</select>
</mapper>
