<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysd.dao.ModuleMapper">
		<select id="selectModulesAll" resultType="modules">
				select * from modules
		</select>
		<select id="selectModuleByparentId" resultType="modules">
				select * from modules where m_parentId=0
		</select>
		<insert id="addModule" parameterType="modules">
			insert into modules (m_name,m_parentId,m_path) values(#{m_name},#{m_parentId},#{m_path})
		</insert>
		<select id="selectByRoleId" parameterType="int" resultType="rolemodules">
				select m_id from rolemodules where r_id=#{id}
		</select>
</mapper>